/*
	Borders 	#070707
	Text 		#FFFFFF
	Links		#167ac6
	Backgrounds #292929
*/

/* Most things are perfect for grayscaling. */
#yt-masthead #logo-container .logo, /* YouTube logo */
#yt-masthead-user .yt-uix-button-icon-bell, /* Notification icon */
#masthead-appbar-containe,
#comment-section-renderer .comment-renderer-footer .sprite-comment-actions,
.creator-bar-item .yt-uix-button-text-dark, /* Owner video options*/
#watch8-action-buttons .yt-uix-button, /* Add to / share / More   etc. */
#watch8-action-buttons .yt-uix-button:hover, 
#action-panel-dismiss, 
#action-panel-dismiss:hover,
.yt-card .yt-uix-button-expander:hover,
#watch-header > #watch7-user-header > #watch7-subscription-container a::before,
.add-to-widget .private-icon,
.add-to-widget .public-icon,
.yt-uix-form-input-radio-container, .yt-uix-form-input-checkbox-container,
input[type="radio" i],
input[type="checkbox" i],
.yt-ui-menu-item.has-icon:before,
.watch-pencil-icon:before,
#masthead-search .search-btn-component .yt-uix-button-content,
.autoplay-bar .autoplay-info-icon,
#footer .yt-uix-button-icon-footer-language,
#footer .yt-uix-button-icon-footer-history,
#footer .yt-uix-button-icon-questionmark,
.yt-uix-button-arrow,
#footer-logo .footer-logo-icon,
.yt-uix-button-arrow,
.yt-uix-shelfslider .yt-uix-shelfslider-prev,
.yt-uix-shelfslider .yt-uix-shelfslider-next,
.yt-uix-button.yt-uix-button-subscribed-branded::before,
.yt-uix-button-subscribed-branded:before,
.yt-uix-subscription-preferences-button:before,
#channel-search .show-search .search-icon,
.play-all-icon-btn:before,
.yt-uix-button-icon-channel-back,
.yt-uix-button-icon-report-user
{
	-webkit-filter: grayscale(1) invert(1);
}
/* Background colouring */
body, #page, #watch7-creator-bar,
#watch-header, #action-panel-details, #watch-discussion,
#yt-masthead-container, #footer-container,
#masthead-appbar,
.yt-card, .webkit .yt-ui-ellipsis-2,
.yt-subscription-button-subscriber-count-branded-horizontal,
.yt-subscription-button-subscriber-count-unbranded-horizontal,
.comment-simplebox-text, .comment-simplebox-prompt,
.comment-replies-renderer-expander-down,
.standalone-collection-badge-renderer-icon,
.yt-consent-banner,
.webkit .yt-ui-ellipsis-3,
.webkit .yt-uix-expander-collapsed .yt-ui-ellipsis,
.video-player-view-component .description,
#guide-container {
	background-color: #292929 !important;
}
.guide-item {
	color: white !important;
}
#yt-masthead-container {
	border-bottom-color: #070707 !important;
}
#masthead-appbar {
	border-bottom-color: #070707 !important;
}
#watch-description-clip {
	color: white !important;
}
#appbar-nav .epic-nav-item-heading {
	color: white !important;
}
.yt-uix-button.yt-uix-button-subscribe-unbranded {
	background-color: #e62117 !important;
	border-color: #e62117 !important;
	color: white !important;
}
.lohp-video-metadata .view-count {
	color: #767676 !important;
}
#appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item {
	color: #aaa !important;
}
.yt-card {
	box-shadow: 0 1px 2px rgba(0,0,0,.75) !important;
}
.yt-uix-menu-trigger-selected .yt-ui-menu-item, .yt-ui-menu-item:hover {
	background: #3C3C3C !important;
}
/* Button colouring */
#watch7-creator-bar-nav-buttons a,
#watch-header > #watch7-user-header > #watch7-subscription-container a,
#action-panel-details .watch-pencil-icon,
#upload-btn, #search-btn,
#watch-discussion > #comment-section-renderer > .yt-uix-menu > button,
#footer-container > #footer > #footer-main > a,
#footer-container > #footer > #footer-main button,
#comment-simplebox-create-comment button.yt-uix-button-default,
#masthead-positioner > .yt-consent > .yt-consent-buttons > button.consent-close,
#browse-items-primary 
.watch-title .watch-pencil-icon,
.yt-uix-button.yt-uix-button-subscribed-branded,
.yt-uix-button-subscribed-branded+.yt-uix-subscription-preferences-button,
.yt-uix-button.yt-uix-button-subscribed-unbranded,
.shelf-item:hover .shelves-play,
.sub-menu-back-button,
#browse-items-primary > li > button,
.about-actions > button,
.send-button-info > button,
.browse-items-load-more-button,
.comment-section-renderer-paginator {
	border: 1px solid #070707 !important;
	background: #292929 !important;
	color: white !important;
}
.branded-page-module-title {
	color: white !important;
}
.channel-header .branded-page-header-title .branded-page-header-title-link {
	color: white !important;
}
.channel-header .branded-page-header-title .branded-page-header-title-link:hover {
	color: #167ac6 !important;
}
.branded-page-module-title a:visited, .branded-page-module-title a {
	color: white !important;
}
.branded-page-module-title a:visited, .branded-page-module-title a:hover {
	color: #167ac6 !important;
}
.branded-page-related-channels h3 a {
	color: white !important;
}
.branded-page-related-channels h3 a:hover {
	color: #167ac6 !important;
}
.branded-page-v2-secondary-col .branded-page-related-channels-see-more a {
	color: white !important;
}
.branded-page-v2-secondary-col .branded-page-related-channels-see-more a:hover {
	color: #167ac6 !important;
}
.epic-nav-item-heading {
	color: white !important;
}
#browse-items-primary .item-section > li > .yt-lockup-tile,
.branded-page-v2-primary-col .branded-page-box,
.section-list li .item-section .branded-page-box,
.branded-page-v2-subnav-container,
.about-metadata-label-border-top,
#appbar-guide-menu,
.guide-section-separator,
body #footer-container,
#footer-main {
	border-color: #070707 !important;
}
.about-description pre {
	color: white !important;
}
.about-metadata-label {
	color: white !important;
	font-size: 150%;
}
.country-container {
	color: white !important;
}
#watch7-headline h1 {
	color: white !important;
}
#watch7-creator-bar {
	border: 0 !important; /* I don't get why they made a border for this one... */
}
.watch-editable:hover {
	background: #4A4A4A !important;
	color: #BFBFBF !important;
}
#watch-headline-title > h1 > button {
	display: none;
}
#watch-headline-title .watch-title,
.watch-view-count {
	background: #292929;
	color: #BFBFBF !important;
}
#watch-header .yt-user-info a {
	color: #128E42 !important;
}
.yt-subscription-button-subscriber-count-branded-horizontal,
.yt-subscription-button-subscriber-count-unbranded-horizontal,
.yt-uix-button.yt-uix-button-subscribed-branded,
.yt-uix-button-subscribed-branded+.yt-uix-subscription-preferences-button {
	color: white !important;
	border-color: #e62117 !important;
}
#watch-header > #watch8-action-buttons {
	border-top-color: #070707 !important;
}
#yt-uix-videoactionmenu-menu > .hide-on-create-pl-panel h3 {
	color: white !important;
}
.add-to-widget .addto-playlist-item {
	color: white !important;
}
.add-to-widget .addto-playlist-item:hover,
.add-to-widget .create-playlist-item:hover,
.add-to-widget .addto-playlist-item.yt-uix-kbd-nav-highlight {
	background-color: #4A4A4A !important;
}
.add-to-widget > .yt-spinner {
	color: white;
}
.add-to-widget .playlists {
	border-bottom-color: #555555 !important;
}
.add-to-widget .create-playlist-item {
	color: white !important;
}
.yt-card .yt-uix-tabs .yt-uix-button:hover,
.yt-card .yt-uix-tabs .yt-uix-button:active,
.yt-card .yt-uix-tabs .yt-uix-button.yt-uix-button-active,
.yt-card .yt-uix-tabs .yt-uix-button.yt-uix-button-toggled {
	color: white !important;
}
.yt-uix-button-text,
.yt-uix-button-text[disabled] {
	color: #ccc !important;
}
.yt-card .yt-uix-tabs {
	border-bottom-color: #555555 !important;
}
.share-panel-start-at-container {
	color: white !important;
}
.share-email label {
	color: white !important;
}
.share-panel {
	color: white !important;
}
#action-panel-details a {
	color: #167ac6 !important;
}
.yt-card .yt-uix-button-expander {
	border-top: 0 !important;
}
.watch-extras-section .title,
.watch-extras-section .content > .title {
	color: white;
}
.comment-section-header-renderer {
	color: #b8b8b8 !important;
}
.comment-simplebox-renderer {
	border-bottom-color: #070707 !important;
}
.comment-simplebox-renderer-collapsed-content {
	border-color: #070707 !important;
	border-color: #070707 !important;
}
.comment-simplebox.focus .comment-simplebox-frame {
	border-color: green !important;
}
.comment-simplebox-text,
.comment-simplebox-prompt {
	color: white !important;
}
.comment-simplebox-arrow .arrow-inner,
.comment-simplebox-arrow .arrow-outer {
	display: none;
}
.comment-renderer-text-content {
	color: white;
}
.comment-author-text {
	color: #128ee9;
}
.comment-renderer.channel-owner .comment-author-text,
.comment-renderer.channel-owner .comment-author-text::before {
	background: #292929 !important;
	color: #128E42;
	content: "[OP] ";
}
.comment-simplebox {
	background: #292929 !important;
}
.comment-simplebox-arrow .arrow-inner {
	border: 7px solid #292929 !important;
}
#comment-section-renderer .comment-renderer-reply {
	color: #cccccc !important;
}
.comment-renderer-like-count {
	color: rgb(255, 240, 40) !important;
}
.comment-replies-renderer-expander-down {
	border: 0;
	color: #167ac6 !important;
}
.yt-uix-button-default:active,
.yt-uix-button-default.yt-uix-button-toggled,
.yt-uix-button-default.yt-uix-button-active,
.yt-uix-button-default.yt-uix-button-active:focus,
.yt-uix-button-text:active {
	box-shadow: inset 0 1px rgba(0,0,0,.75) !important;
}
.yt-ui-menu-content {
	background: #292929 !important;
	border: 1px solid #070707 !important;
	box-shadow: 0 2px 4px rgba(0,0,0,0.75) !important;
}
.yt-ui-menu-item-label {
	color: white !important;
}
#watch-channel-brand-div-text {
	display: block !important;
}
#watch7-sidebar .watch-sidebar-head {
	color: white !important;
}
#watch7-sidebar .watch-sidebar-separation-line {
	border-bottom-color: #070707 !important;
}
.video-list .video-list-item .title {
	color: white !important;
	max-height: 3.5em;
}
.video-list .video-list-item .content-wrapper:hover .title {
	color: #167ac6 !important;
}
.yt-badge-list {
	background-color: #9B0000;
	border-color: #070707;
}
.yt-badge {
	color: white !important;
}
.standalone-collection-badge-renderer-icon {
	color: white !important;
	border-color: #EB0D0D !important;
}
.standalone-collection-badge-renderer-text {
	color: #777 !important;
}
.content-region {
	color: white !important;
}
.feed .not-fixed-width-tab-widescreen .clearfix {
	background: red;
}
#footer-links-primary a {
	color: #167ac6 !important;
}
.yt-consent-banner {
	border-bottom-color: #070707 !important;
}
.yt-consent-banner .yt-consent-content{
	color: white !important;
}
