/*
	Borders 	#070707
	Text 		#FFFFFF
	Links		#167ac6
	Backgrounds #292929
	Red 		#cc181e
*/

/* Most things are perfect for grayscaling. */
#action-panel-dismiss,
#action-panel-dismiss:hover,
#action-panel-overflow-button:before, .action-panel-trigger-overflow:before,
#channel-search .show-search .search-icon,
#comment-section-renderer .sprite-like:before,
#comment-section-renderer .sprite-dislike:before,
#footer-logo .footer-logo-icon,
#footer .yt-uix-button-icon-footer-language,
#footer .yt-uix-button-icon-footer-history,
#footer .yt-uix-button-icon-questionmark,
#masthead-appbar-containe,
#masthead-search .search-btn-component .yt-uix-button-content,
#pl-header .playlist-share:before,
#pl-header .yt-uix-button-icon-gear,
#report-form-modal-renderer .yt-dialog-base .yt-dialog-header .yt-dialog-close .yt-uix-button-content,
#watch-header > #watch7-user-header > #watch7-subscription-container a::before,
#yt-masthead #logo-container .logo,
#yt-masthead-user .yt-uix-button-icon-bell,
input[type="radio" i],
input[type="checkbox" i],
.action-panel-trigger-share:before,
.addto-button:before,
.autoplay-bar .autoplay-info-icon,
.create-playlist-widget-button .add-new-pl-btn:before,
.creator-bar-item .yt-uix-button-text-dark,
.c4-editor-edit:before,
.c4-editor-move-down:before,
.c4-editor-move-up:before,
.c4-editor-plus:before,
.c4-module-editor-delete:before,
.flag-channel-abuse-form .report-question-mark,
.like-button-renderer-like-button:before,
.like-button-renderer-dislike-button:before,
.live-chat-widget .overflow-menu-button:before,
.live-chat-widget .post-button::before,
.live-chat-widget .actions-menu .yt-uix-button:before,
.options-renderer-question-mark,
.pl-header-privacy-everyone,
.play-all-icon-btn:before,
.privacy-public-icon,
.private-icon,
.public-icon,
.secondary-header-action .header-action-icon,
.spotlight-privacy-btn:before,
.vertical-shelf .vertical-shelf-expander:before,
.watch-pencil-icon:before,
.yt-card .yt-uix-button-expander:hover,
.yt-close-img,
.yt-channel-title-autogenerated,
.yt-ui-menu-item.has-icon:before,
.yt-uix-button-arrow,
.yt-uix-button-icon-channel-back,
.yt-uix-button-icon-light-checkmark,
.yt-uix-button-icon-report-user,
.yt-uix-button-icon-settings-material,
.yt-uix-button-icon-view-list,
.yt-uix-button-icon-view-module,
.yt-uix-button-subscribed-branded:before,
.yt-uix-button.live-comments-emoji-picker-open::before,
.yt-uix-button.yt-uix-button-subscribed-branded::before,
.yt-uix-form-input-checkbox-container,
.yt-uix-form-input-radio-container,
.yt-uix-shelfslider .yt-uix-shelfslider-next,
.yt-uix-shelfslider .yt-uix-shelfslider-prev,
.yt-uix-subscription-preferences-button:before {
	-webkit-filter: grayscale(1) invert(1);
}
#creator-sidebar .studio-icon.creator-sidebar-analytics,
#creator-sidebar .studio-icon.creator-sidebar-create,
#creator-sidebar .studio-icon.creator-sidebar-channel,
#creator-sidebar .studio-icon.creator-sidebar-community,
#creator-sidebar .studio-icon.creator-sidebar-dashboard,
#creator-sidebar .studio-icon.creator-sidebar-live-streaming,
#creator-sidebar .studio-icon.creator-sidebar-video-manager {
	-webkit-filter: grayscale(1) invert(50%);
}
#comment-section-renderer .sprite-dislike[data-action-on]:before,
#comment-section-renderer .sprite-like[data-action-on]:before,
#creator-sidebar .studio-icon.creator-sidebar-dashboard.selected,
#creator-sidebar .studio-icon.creator-sidebar-video-manager.selected,
#creator-sidebar .studio-icon.creator-sidebar-community.selected,
#creator-sidebar .studio-icon.creator-sidebar-channel.selected,
#creator-sidebar .studio-icon.creator-sidebar-analytics.selected,
#creator-sidebar .studio-icon.creator-sidebar-create.selected,
#creator-sidebar .studio-icon.creator-sidebar-live-streaming.selected,
.addto-watch-later-button:before, .addto-watch-later-button-sign-in:before,
.channel-settings-editor .yt-uix-form-input-checkbox-container,
.like-button-renderer-like-button.yt-uix-button:active:before,
.like-button-renderer-like-button.yt-uix-button.yt-uix-button-toggled:before {
	-webkit-filter: grayscale(0) invert(0) !important;
}
/* 
 * Dat Dislike Button mann.
 * It's gordeous.
*/
.like-button-renderer-dislike-button-clicked::before {
	-webkit-filter: hue-rotate(145deg) brightness(18) contrast(1130%)
}
/* BACKGROUNDCOLOURING */
body,
#action-panel-details,
#footer-container,
#guide-container,
#masthead-appbar,
#page,
#watch-discussion,
#watch-header,
#watch7-creator-bar,
#yt-masthead-container,
#yt-picker-language-footer,
.branded-page-v2-primary-col .branded-page-box,
.c4-empty-shelf-container .branded-page-box,
.c4-shelf-preview,
.comment-simplebox-text,
.comment-simplebox-prompt,
.comment-replies-renderer-expander-down,
.related-channels-editor:hover,
.standalone-collection-badge-renderer-icon,
.yt-consent-banner,
.webkit .yt-uix-expander-collapsed .yt-ui-ellipsis,
.video-player-view-component .description,
.yt-card,
.yt-dialog-fg,
.yt-dialog-footer,
.yt-subscription-button-subscriber-count-branded-horizontal,
.yt-subscription-button-subscriber-count-unbranded-horizontal,
.yt-uix-overlay-actions,
.yt-ui-menu-item:focus,
.channel-header .secondary-header-contents,
.yt-uix-button-subscribed-unbranded,
h3.yt-lockup-title > a.yt-ui-ellipsis,
.yt-lockup-content .yt-lockup-description,
.lohp-shelf-content a.lohp-video-link,
.guide-pinned .guide-pinning-enabled #appbar-guide-menu,
.feed-item-container .shelf-description,
.live-chat-widget .comment,
#yt-picker-country-footer,
#yt-picker-safetymode-footer,
#browse-items-primary .video-detail h3.title,
.content-picker-selector-item .content-picker-action-bar,
#watch-headline-title .watch-title,
.pl-header-inlineedit .c4-module-is-editable:hover,
.watch-view-count,
.watch-editable:hover,
.yt-uix-button-c4-view-action {
	background-color: #292929 !important;
}
#pl-header .privacy-icon-present .pl-header-details::before {
	border-color: #292929 !important;
}
#creator-sidebar > #creator-sidebar-section-id-dashboard.selected > h3 a,
#creator-sidebar > #creator-sidebar-section-id-your-contributions.selected > h3 a,
#creator-sidebar .creator-sidebar-section a:hover,
.live-chat-widget .comment.alternate-row {
	background-color: #2f2f2f !important;
	color: #cc181e !important;
}
/* PRIMARY TEXTCOLOURING */
#appbar-nav .epic-nav-item-heading,
#creator-page #creator-sidebar .creator-sidebar-branding h1,
#dashboard-header h2 a,
#dashboard-header h3 a,
#dashboard-header h3,
#dashboard-header .dashboard-stat-value,
#dashboard-header .dashboard-stat-name, 
#dashboard-header .add-widget-button-label,
#dashboard-header-stats li,
#footer h3,
#loading-message,
#results #filter-dropdown .filter-col-title,
#subscription-manager-container .subscription-title,
#upload-button-text,
#watch8-secondary-actions span,
#watch-description-clip,
#watch7-headline h1,
#watch7-sidebar .watch-sidebar-head,
#watch-action-panels .yt-card-title,
#watch-action-panels h3,
#watch-action-panels .options-renderer-form .options-renderer-category-label,
#yt-uix-videoactionmenu-menu > .hide-on-create-pl-panel h3,
h1.pl-header-title,
.about-description pre,
.about-metadata-label,
.add-to-widget .addto-playlist-item,
.add-to-widget .create-playlist-item,
.add-to-widget > .yt-spinner,
.branded-page-module-title,
.branded-page-module-title a:visited,
.branded-page-module-title a,
.branded-page-module-title-text,
.branded-page-related-channels h3 a,
.branded-page-v2-secondary-col .branded-page-related-channels-see-more a,
.c4-checklist-module .view-all-link,
.channel-header .branded-page-header-title .branded-page-header-title-link,
.comment-simplebox-text,
.comment-simplebox-prompt,
.comment-renderer-text-content,
.country-container,
.content-region,
.epic-nav-item-heading,
.epic-nav-item.selected,
.flag-channel-overlay-0 p,
.flag-channel-overlay-1 p,
.flag-channel-overlay-2 p,
.guide-header p,
.guide-item,
.live-chat-widget .comment .comment-text,
.live-chat-widget .comment.alternate-row .comment-text,
.live-comments-popout-active-message,
.live-chat-controls-container div.comments-textarea,
.options-renderer-message-required,
.pl-video-title-link,
.search-header .yt-uix-button-content,
.secondary-header-contents .nav-text,
.share-panel-start-at-container,
.share-email label,
.share-panel,
.standalone-collection-badge-renderer-icon,
.upload-footer-header,
.upload-sidebar-header,
.video-list .video-list-item .title,
.view-as-menu-text,
.watch-extras-section .title,
.watch-extras-section .content > .title,
.yt-badge,
.yt-card .yt-uix-tabs .yt-uix-button:hover,
.yt-card .yt-uix-tabs .yt-uix-button:active,
.yt-card .yt-uix-tabs .yt-uix-button.yt-uix-button-active,
.yt-card .yt-uix-tabs .yt-uix-button.yt-uix-button-toggled,
.yt-consent-banner .yt-consent-content,
.yt-dialog-fg-content,
.yt-dialog-title,
.yt-picker-content strong,
.yt-ui-menu-item-label,
.yt-ui-menu-item,
.yt-uix-button-menu-item,
.yt-uix-button.yt-uix-button-subscribe-unbranded,
.yt-uix-form-label,
.yt-uix-form-legend {
	color: white !important;
}
/* PRIMARY TEXTCOLOURING - Non-important */
#subscription-manager-container .subscription-manager-title,
#watch-header > #watch8-action-buttons > #watch8-sentiment-actions button span,
.todo-title-text,
.translation-editor-column-half {
	color: white;
}
/* BUTTONCOLOURING */
#about-metadata-form-custom-links > button.yt-uix-button-default,
#action-panel-details .watch-pencil-icon,
#browse-items-primary > li > button,
#c4-branding-dropdown-menu,
#comment-section-renderer .comment-section-sort-menu button.yt-uix-button,
#eow-title .watch-pencil-icon,
#footer #footer-main a.yt-uix-button,
#footer-main > button,
#footer-main > ul.pickers button,
#masthead-positioner > .yt-consent > .yt-consent-buttons > button.consent-close,
#playlists-tab-create-playlist-widget button,
#results .filter-button-container button,
#search-btn,
#upload-btn,
#upload-hub-privacy-settings button,
#watch-discussion > #comment-section-renderer > .yt-uix-menu > button,
#watch-header > #watch7-user-header > #watch7-subscription-container a,
#watch7-creator-bar-nav-buttons a,
#yt-picker-safetymode-footer #safety-form .safety-submit button[type="submit"],
.about-actions > button,
.browse-items-load-more-button,
.c4-empty-module button,
.c4-module-editor-actions > button,
.comment-section-renderer-paginator,
.comment-simplebox-cancel,
.content-picker-adder .yt-uix-button,
.feedback-banner,
.live-comments-popout-active button,
.playlist-actions a.yt-uix-button,
.playlist-actions button.yt-uix-button,
.sidebar-add-channels-button,
.search-pager a,
.search-pager button,
.send-button-info > button,
.shelf-item:hover .shelves-play,
.sub-menu-back-button,
.upload-other-options-list .upload-option-button,
.yt-uix-button.yt-uix-button-nakedicon,
.yt-uix-button.yt-uix-button-subscribed-branded,
.yt-uix-button-menu-default,
.yt-uix-button-subscribed-branded+.yt-uix-subscription-preferences-button,
.yt-uix-hovercard .spotlight-privacy-hovercard-container {
	border: 1px solid #070707 !important;
	background: #292929 !important;
	color: white !important;
	box-shadow: none;
}
.yt-uix-button-icon-dismissal {
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl4TIZxK.webp) 5px -1288px
}
.upload-other-options-list .upload-option-text {
	color: #666666 !important;
}
#dashboard-header h2 a,
#dashboard-header h3 a,
#dashboard-header h3,
#dashboard-header #dashboard-header-stats,
#dashboard-header .dashboard-stat-value,
#dashboard-header .dashboard-stat-name, 
#dashboard-header .add-widget-button-label,
#dashboard-header-stats li {
	text-shadow: none !important;
}
.yt-combobox-menu-item:hover,
.about-description-editor .c4-module-is-editable:hover,
.about-business-email-editor .c4-module-is-editable:hover,
.about-metadata-editor .c4-module-is-editable:hover {
	background-color: #303030 !important;
}
.live-comments-emoji-picker-tab-row {
	background-color: #e62117 !important;
}
.flag-channel-overlay-1 p.warning,
.flag-channel-overlay-2 p.warning,
.live-chat-widget .byline a {
	color: red !important;
}
.yt-dialog-base {
	background-color: rgba(0,0,0,0.75);
}
#c4-spotlight-editor .spotlight-editor-tab {
	border-color: #cc181e !important;
}
.yt-dialog-fg {
	box-shadow: rgba(0,0,0,0.75) !important;
}
/* BORDERCOLOURING*/
#masthead-appbar,
#watch7-sidebar .watch-sidebar-separation-line,
#yt-masthead-container,
tr.pl-video,
.add-to-widget .playlists,
.comment-simplebox-renderer,
.live-chat-widget #comments-scroller,
.search-header,
.yt-lockup-playlist-item,
.yt-consent-banner,
.yt-picker-header,
.section-list li .item-section .branded-page-box,
.branded-page-v2-primary-col .yt-uix-inlineedit-view-container .branded-page-box,
.translation-editor-header .translation-editor-column-half,
.translation-editor-header .translation-editor-column-divider,
.yt-ui-menu-content li.yt-ui-menu-new-section-separator,
.branded-page-v2-primary-col .branded-page-box,
.section-list li .item-section .branded-page-box {
	border-color: #070707 !important;
}
.yt-uix-button.yt-uix-button-subscribe-unbranded, .yt-badge {
	background-color: #e62117 !important;
	border-color: #e62117 !important;
}
.yt-badge {
	border-radius: 2px;
}
.comment-renderer-verified-badge {
	border: none !important;
	background: none !important;
}
.lohp-video-metadata .view-count {
	color: #767676 !important;
}
#appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item {
	color: #aaa !important;
}
.yt-card {
	box-shadow: 0 1px 2px rgba(0,0,0,.75) !important;
}
.yt-uix-menu-trigger-selected .yt-ui-menu-item,
.yt-ui-menu-item:hover {
	background: #3C3C3C !important;
}
#related-channels-sidebar-container button.related-channels-enabled-button {
	color: white !important;
	border-color: green !important;
	background-color: green !important;
}
.c4-module-editor-delete,
.yt-uix-button-c4-view-action.yt-uix-button-destructive {
	background-color: #cc181e !important;
	border-color: #cc0000 !important;
}
/* Border colouring */
#browse-items-primary .item-section > li > .yt-lockup-tile,
.branded-page-v2-subnav-container,
.about-metadata-label-border-top,
#appbar-guide-menu,
.guide-section-separator,
body #footer-container,
#footer-main,
.flag-channel-abuse-form hr,
.comment-simplebox-frame,
.c4-shelf-preview,
.yt-combobox-menu .yt-combobox-menu-content-list,
#c4-spotlight-editor .spotlight-editor-tabs,
#c4-header-bg-container,
.channel-header .secondary-header-contents,
.subscription-table-header,
.comment-simplebox-renderer-collapsed-content,
.yt-lockup-notifications-container,
#dashboard-header-stats li,
.content-picker-selector-item .content-picker-action-bar,
.yt-uix-button-c4-view-action,
.content-picker-selector-item .remove {
	border-color: #070707 !important;
}
a.yt-uix-button-epic-nav-item.partially-selected {
	border-color: #cc181e !important;
}
#results .section-list li .item-section .branded-page-box {
	border-width: 1px 0px !important;
	border-color: #070707 !important;
	border-style: solid !important;
}
.about-metadata-label {
	font-size: 150%;
}
#watch7-creator-bar,
.yt-dialog-fg,
.c4-checklist-module {
	border: 0 !important;
}
#watch-header .yt-user-info a {
	color: #128E42 !important;
}
.yt-subscription-button-subscriber-count-branded-horizontal,
.yt-subscription-button-subscriber-count-unbranded-horizontal,
.yt-uix-button.yt-uix-button-subscribed-branded,
.yt-uix-button.yt-uix-button-subscribed-unbranded,
.yt-uix-button-subscribed-branded+.yt-uix-subscription-preferences-button {
	color: white !important;
	border-color: #e62117 !important;
}
#watch-header > #watch8-action-buttons {
	border-top-color: #070707 !important;
}
.playlist-video-description > h4 {
	background: inherit;
}
.add-to-widget .addto-playlist-item:hover,
.add-to-widget .create-playlist-item:hover,
.add-to-widget .addto-playlist-item.yt-uix-kbd-nav-highlight {
	background-color: #4A4A4A !important;
}
.c4-shelf-preview+.preview-click-guard {
	background: 0 !important;
}
.yt-uix-button-text,
.yt-uix-button-text[disabled] {
	color: #ccc !important;
}
.yt-card .yt-uix-tabs {
	border-bottom-color: #555555 !important;
}
#action-panel-details a,
.upload-help-link-list .help-item,
#dashboard-header h2 a:hover,
#dashboard-header h3 a:hover,
.pl-video-title-link:hover {
	color: #167ac6 !important;
}
.yt-card .yt-uix-button-expander,
#yt-picker-safetymode-footer #safety-form .safety-submit {
	border-top: 0 !important;
}
.comment-section-header-renderer {
	color: #b8b8b8 !important;
}
.comment-simplebox.focus .comment-simplebox-frame {
	border-color: green !important;
}
#watch-headline-title > h1 > button,
.comment-simplebox-arrow .arrow-inner,
.comment-simplebox-arrow .arrow-outer,
.yt-picker-hr {
	display: none;
}
.comment-author-text {
	color: #128ee9;
}
.comment-renderer.channel-owner .comment-author-text,
.comment-renderer.channel-owner .comment-author-text::before {
	background: #292929 !important;
	color: #128E42;
	content: "[OP] ";
}
.comment-simplebox {
	background: #292929 !important;
}
.comment-simplebox-arrow .arrow-inner {
	border: 7px solid #292929 !important;
}
#comment-section-renderer .comment-renderer-reply {
	color: #cccccc !important;
}
.comment-renderer-like-count {
	color: rgb(255,240,40) !important;
}
.comment-replies-renderer-expander-down {
	border: 0;
	color: #167ac6 !important;
}
.yt-ui-menu-content {
	background: #292929 !important;
	border: 1px solid #070707 !important;
	box-shadow: 0 2px 4px rgba(0,0,0,0.75) !important;
}
#watch-channel-brand-div-text {
	display: block !important;
}
.video-list .video-list-item .title {
	max-height: 3.5em;
}
.video-list .video-list-item .content-wrapper:hover .title {
	color: #167ac6 !important;
}
.standalone-collection-badge-renderer-icon {
	border-color: #EB0D0D !important;
}
.standalone-collection-badge-renderer-text {
	color: #777 !important;
}
.feed .not-fixed-width-tab-widescreen .clearfix {
	background: red;
}
#footer-links-primary a {
	color: #167ac6 !important;
}
